body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f8fafc;
  font-family: "geist", sans-serif, "geist-bold", "geist-medium", "geist-light",
    "geist-extralight", "geist-extrabold", "jost-bold", "jost-medium",
    "jost-light", "jost-extralight", "jost-extrabold";
}